body {font-family: sans-serif;}
p {color: #666;}

h2 {
  font-size: 2em;
  color: #e74c3c;  
}
.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

.cathead {
    background: #fdfaf9;
  	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}
    
@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(280, 66%, 72%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

/* Card Based Layout - Base styles */
body {
  background: #ecf0f1;
  line-height: 1.4;
}

.site-title {
	color: rgb(170, 95, 210);
}

.cat_image {
    width: 100%;
    height: auto;
}